*{
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  color: #FFFFFF;
  height: 100vh;
  text-align: justify;
  text-indent: 2rem;
}
 
h1{
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  
}
main{
  justify-content: center;
  text-align: justify;
  text-decoration: none;
  line-height: 2;
  font-weight: 300;
}

.container{
  background: #14213D;
  display: flexbox;
  height: 58vh;
  width: fit-content;
  margin: auto;
  padding-bottom: 1rem; 
  border: 3px solid #E5E5E5;
  text-align: center;
  display: list-item;
  justify-content: center;
 }

 input{
  display: inline-flexbox;
  background-color: aliceblue;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: #E5E5E5;
 }

 input[type=text] {
  width: 50%;
  padding: 6px 10px;
  margin: 8px 10px;
  box-sizing: border-box;
 }

 input[type=email] {
  width: 50%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
 }

 input[type=tel] {
  width: 50%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
 }

 .emailLabel{
  padding-right: 30px;
 }

 .gender {
  width: 90%;
  text-align: center;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: large;
 }

.btn{
  border-radius: 6px;
  background: #FCA311;
  border-color: #f39422;
  width: 35%;
  padding: 6px 10px;
  cursor: pointer;
}
.btn:hover{
  background: #e99104;
}

.foot {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 95%;
  height: 2.5rem;  
}